# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Docker
.dockerignore

# Testing
coverage/
.nyc_output/

# Uploads
uploads/

# Archivos temporales y sensibles
p12_base64_only.txt
p12_base64_output.txt
*.p12
*.pfx

/src/generated/prisma
